nbzip==0.1.0
nbgitpuller==1.1.0
atomate==1.0.3
robocrys==0.2.7
crystal-toolkit==2021.4.29
ipywidgets==7.6.3
mpcontribs-client==3.13.0
graphviz==0.17
mp-api==0.7.1
reaction-network==2.0.3
pycairo==1.20.1
