nbzip==0.1.0
nbgitpuller==0.10.1
atomate==0.9.9
robocrys==0.2.7
crystal-toolkit==2021.4.29
ipywidgets==7.6.3
mpcontribs-client==3.13.0
graphviz==0.17
mp-api==0.21.5
reaction-network==2.0.3
pycairo==1.20.1
