name: release

on:
  push:
    branches:
      - master

jobs:
  deploy:
    services:
      local_mongodb:
        image: mongo:4.0
        ports:
          - 27017:27017

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: goanpeca/setup-miniconda@v1
      with:
        activate-environment: workshop
        environment-file: binder/environment.yml
        python-version: 3.8
        auto-activate-base: false

    - name: Install dependencies
      shell: bash -l {0}
      run: |
        conda activate workshop
        python -m pip install --upgrade pip
        pip install -r requirements-docs.txt
        pip install -e .

    - name: Build
      shell: bash -l {0}
      run: |
        conda activate workshop
        mkdocs build

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./site

  # repo2docker:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - name: Checkout PR
  #     uses: actions/checkout@v2

  #   - name: test build
  #     uses: machine-learning-apps/repo2docker-action@0.2
  #     with:
  #       NO_PUSH: 'true'
  #       IMAGE_NAME: "mp/repo2docker-test"
